.cardAddress {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
}

.innerCard {
  width: 250px;
  margin-left: 30px;
  margin-bottom: 40px;

}

.heading {
  font-size: 40px;
  margin-left: 8rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.enquiry {
  margin-left: 2rem;
  width: 500px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bodyCard {
  display: flex;
  flex-direction: row;
}

.inputBox {
  position: absolute;
  left: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
  background-color: white;
  margin-top: 2rem;
  border-radius: 10px;
  width: 500px;
  height: 400px;
  margin-left: -9rem
}

.customSelect {
  border: none;
  border-bottom: 1px solid #ccc; /* Add a line below the select */
  border-radius: 0; /* Remove any border-radius to make the line straight */
  appearance: none; /* Remove default styling on certain browsers */
  background-color: transparent; /* Optional: Make the background transparent */
  padding: 5px 0; /* Add padding as needed */
  font-size: 16px; /* Add font size as needed */
  width: 100%; /* Set the width as needed */
}

.submitButton {
  margin-left: 9rem;
  color: white;
  border-radius: 52px;
  background-color: black;
  width: 150px;
  height: 45px;
}

.input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.customSelectLastName {
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid #ccc; /* Add a line below the select */
  border-radius: 0; /* Remove any border-radius to make the line straight */
  appearance: none; /* Remove default styling on certain browsers */
  background-color: transparent; /* Optional: Make the background transparent */
  padding: 5px 0; /* Add padding as needed */
  font-size: 16px; /* Add font size as needed */
  width: 100%;
}


.customSelectPhoneNumber {
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #ccc; /* Add a line below the select */
  border-radius: 0; /* Remove any border-radius to make the line straight */
  appearance: none; /* Remove default styling on certain browsers */
  background-color: transparent; /* Optional: Make the background transparent */
  padding: 5px 0; /* Add padding as needed */
  font-size: 16px; /* Add font size as needed */
  width: 210px;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.icons {
  margin: 20px;
}

.custom-select {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.custom-select-state {
  position: relative;
  display: flex;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.custom-select-state select {
  color: grey;
  margin-left: 50px;
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: white;
  width: 200px; 
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.arrowTwo {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #000 transparent transparent;
  position: absolute;
  top: 56%;
  right: 50px;
  transform: translateY(-50%);
  pointer-events: none;
}

.arrowOne {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #000 transparent transparent;
  position: absolute;
  top: 30%;
  right: 50px;
  transform: translateY(-50%);
  pointer-events: none; /* Allow clicking through the arrow */
}


.custom-select select {
  color: grey;
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: white;
  width: 450px; 
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
