

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@300;500;600&family=Work+Sans:wght@700&display=swap');


:root{
    --color-primary:#0A2640;
    --color-primary-black:#000;
}
.my_button{
    border-radius: 4px;
    font-weight: 600;
}
.my_button-r-0{
border-radius: 0px;
}
.active-link{
color: #1677ff!important;
}