.body{
  background: rgba(10, 38, 64, 1);
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 50px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.socialComment {
  display: flex;
  flex-direction: row;
}
.cardOne {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  color: black;
  width: 300px;
  padding: 26px;
  margin-top: 30px;
  align-items: center;
  margin-left: 30px;
}

.heading {
  font-size: 30px;
  width: 510px;
  flex-wrap: wrap;
  word-wrap: break-word;
  margin-left: 7rem;
  text-align: start;
}

.headingtwo {
  margin-left: 23rem;
  font-size: 48px;
  width: 600px;
}

.imagecard {
  width: 250px;
  text-align: start;
  margin-top:  10px;
  line-height: 30px;
  gap: 12px;
}
